@media screen and ( max-width: 1360px )
  .menu__burger
    display: none
@media screen and ( max-width: 1200px )
  .hero
    background: $light url('../img/hero-bg.png') no-repeat center / cover
    background-position: right -10px bottom -30px
  .logo
    &__name
      font-size: 1.3rem
  .phone
    font-size: 1.5rem
  .nav
    &__item
      margin-right: 5.2rem
      font-size: 0.9rem
  .hero
    &__main-title
      font-size: 52px
    &__section-title
      font-size: 1.9rem
    &__section-text
      font-size: 1rem
  .content__text
    font-size: 1.5rem
  .item
    width: 40%
    &__question
      font-size: 2.2rem
      padding: 10px 10px
      max-width: 19rem
    &__percent
      font-size: 250px
    &__content
      font-size: 1.5rem
    &__text
      font-size: 1.1rem
      line-height: 18px
  .item1
    width: 30%
  .item2
    width: 30%
    &__text
      margin-bottom: -9px
  .percent
    font-size: 100px
    margin-left: -5px
  .section-title
    font-size: 30px
  .section-text
    font-size: 14px
  .input
    margin-right: 0.5rem
  .create
    &__text
      margin-right: 3rem
    &__form-text
      font-size: 15px
    &__input-group
      margin-right: 0.5rem
  .benefit
    &__section-title
      padding-top: 5.4rem
  .slider
    &__text
      font-size: 14px
      line-height: 1.4rem
  .benefit__slider, .slick-slider
    margin-top: -407px
  .format
    &__item
      &-content
        max-width: 17rem
      &-img
        width: 98%
    &__img
      justify-content: space-around
      &-item
        min-width: 32.64rem
    &__lesson
      &-text
        font-size: 0.9rem
        max-width: 17.5rem
@media screen and ( max-width: 992px )
  .hero
    background: $light url('../img/hero-bg.png') no-repeat center / cover
    background-position: right -232px bottom -30px
  .logo
    &__name
      font-size: 1.1rem
      &:hover
        color: $main
    &__img
      margin-right: 0.5rem
  .nav
    &__item
      margin-right: 3rem
      font-size: 0.71rem
      &:hover
        color: $grizzly
      &::after
        display: none
  .phone
    font-size: 1.3rem
    &:hover
      color: $main
  .button
    &__primary
      &:hover
        color: $light
        background-color: $primary
    &__secondary
      &:hover
        color: $primary
        background-color: transparent
  .item
    width: 36%
    &__question
      font-size: 1.6rem
      padding: 10px 10px
      max-width: 15rem
    &__percent
      font-size: 200px
      letter-spacing: -20px
    &__content
      font-size: 1.3rem
      line-height: 1.6rem
      max-width: 100%
    &__text
      font-size: 0.9rem
      max-width: 100%
  .item1
    width: 32%
    &__content
      margin-bottom: 1.2rem
    &__text
      margin-bottom: -1rem
  .item2
    width: 32%
    &__text
      margin-bottom: 5px
  .percent
    font-size: 70px
  .why-robot
    &__answer
      margin-bottom: 80px
  .create
    padding-top: 50px
    padding-bottom: 70px
    &__section-text
      margin-bottom: 2.5rem
    &__content
      flex-wrap: wrap
      justify-content: center
      &:first-child
        justify-content: start
    &__text
      margin-bottom: 4rem
      width: 100%
      text-align: center
      margin-right: 0
  .start
    background-image: radial-gradient(circle 677px at center, #03256c 0%, #061826 100%)
    padding-top: 6rem
    padding-bottom: 6rem
  .slider
    &__next, &__prev
      display: none
    &__center
      flex-basis: 50%
    &__title
      font-size: 20px
    &__img
      margin-bottom: 2.3rem  
  .benefit__slider, .slick-slider
    margin-top: -390px
  .simply
    &__item-text
      max-width: 41rem
  .format
    &__item
      &-text
        max-width: 16rem
      &-img
        width: 79%
    &__img
      display: block
      &-item
        max-width: 35.7rem  
        margin: auto
        margin-bottom: 2rem
    &__lesson
      &-text
        max-width: 18.5rem
        margin: auto
  .lessons
    &__item
      width: 50%
      text-align: center
      margin-bottom: 1rem
  .point
    flex-wrap: wrap
@media screen and ( max-width: 768px )
  body.lock
    overflow: hidden  
  .why-robot
    margin-top: 0
    &__answer
      margin-bottom: 60px
  .menu__burger
    display: block
    position: relative
    width: 30px
    height: 20px
    position: relative
    z-index: 3
    &::before, &::after
      content: ''
      background-color: $dark
      position: absolute
      width: 100%
      height: 2px
      left: 0
      transition: all 0.3s ease 0s
    &::before
      top: 0
    &::after
      bottom: 0
    &--line
      background-color: $dark
      position: absolute
      width: 100%
      height: 2px
      top: 9px
      transition: all 0.3s ease 0s
  .menu
    height: 50px
    background-color: $light
    &__nav
      position: fixed
      top: -100%
      left: 0
      width: 100%
      height: 100%
      overflow: auto
      background-color: #e6eef6
      padding: 70px 0 0 0
      display: flex
      flex-direction: column
      padding-left: 40px
      transition: all 0.5s ease 0s
  .menu__burger.active
    &::after 
      transform: rotate(45deg)
      bottom: 9px
  .menu__burger.active
    &::before
      transform: rotate(-45deg)
      top: 9px
  .menu__burger--line.active
    transform: scale(0)
  .menu__nav.active
    top: 0
    transition: all 0.5s ease 0s
  .nav
    z-index: 2
    &__item
      margin: 0
      margin-bottom: 20px
      font-size: 1.3rem
  .logo
    &__name
      font-size: 1.3rem
  .hero
    background: radial-gradient(white, #eaf1f7)
    padding-top: 84px
    align-items: baseline
    max-height: 30.8rem
    &__main-title
      padding-top: 0
      font-size: 45px
    &__section-title
      font-size: 1.6rem
    &__section-text
      font-size: 0.99rem
      line-height: 1.3rem
    &__wrapper
      margin: 0
      padding-top: 0
      padding-bottom: 1rem
  .content
    &__text
      font-size: 1.1rem
      line-height: 1.6rem
      max-width: 20rem
      margin-left: 24px
  .button
    margin-right: 0
    &__primary
      font-size: 0.9rem
    &__secondary
      font-size: 0.9rem
  .why-robot
    &__answer
      flex-wrap: wrap
      justify-content: space-around
  .item
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 1rem
    &__question
      font-size: 2.6rem
      max-width: 19rem
    &__img
      margin-bottom: 2rem
  .item1
    width: 35%
  .item2
    width: 35%
  .create
    &__button
      margin: 0 auto
    &__form
      display: block
      padding-bottom: 0.5rem
    &__form1
      margin-top: 1.5rem
    &__input-group
      margin-bottom: 1rem
    &__text
      margin-bottom: 3rem
    &__section-text
      margin-bottom: 2.5rem
    &__input
      padding: 0.6rem 1rem
      max-width: 5rem
  .section-title
    line-height: 35px
  .start
    padding-top: 4rem
    padding-bottom: 4rem
    &__button
      margin: 0 auto
    &__title
      font-size: 20px
  .benefit
    &__section-title
      padding-top: 3.4rem
  .slider
    &__img
      &--inside
        max-width: 80%
    &__text
      margin-bottom: 6.29rem
  .benefit__slider, .slick-slider
    margin-top: -320px
  .slick-slide img 
    margin: auto
  .simply
    &__button
      margin: 0 auto
      margin-bottom: 5rem
    &__section-title
      &::before
        margin-bottom: 15px
  .video
    margin-top: 3.2rem
    margin-bottom: 3.2rem
  .format
    &__img
      margin-bottom: 2.5rem
    &__title
      padding-top: 4rem
      margin-bottom: 2.4rem
    &__item
      &-img
        width: 79%
  .lessons
    &__item
      width: 100%
  .lesson
    &__img
      margin-bottom: 1rem
@media screen and ( max-width: 570px )
  .hero
    &__main-title
      padding-top: 1.6rem
      font-size: 30px
    &__section-title
      font-size: 1.2rem
    &__section-text
      font-size: 0.9rem
      line-height: 1.1rem
      margin-bottom: 2.7rem
  .content
    flex-direction: column
    &__buttons
      width: 100%
    &__text
      text-align: center
      margin-right: 0
  .why-robot
    &__answer
      text-align: center
      margin-bottom: 40px
  .item
    &__percent
      font-size: 150px
      letter-spacing: -10px
    &__content
      margin-bottom: 0.5rem
      font-size: 1.4rem
      line-height: 1.5rem
    &__text
      font-size: 1.05rem
      line-height: 1.2rem
  .item1
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    margin-bottom: 2rem
  .item2
    width: 100%
    &__text
      margin-bottom: -11px
  .section-title
    font-size: 22px
    line-height: 30px
    margin-bottom: 0.5rem
  .section-text
    font-size: 12px
  .create
    &__button
      width: 100%
      max-width: 100% 
    &__input
      font-size: 0.9rem
  .start
    padding-top: 2rem
    padding-bottom: 2rem
    &__button
      width: 100%
      max-width: 100% 
    &__title
      font-size: 16px
  .slider
    &__title
      font-size: 14px
      margin-bottom: 1rem
    &__text
      font-size: 11px
      line-height: 1.1rem
    &__img
      margin-bottom: 1.5rem
      &--inside
        max-width: 50%
    &__text
      margin-bottom: 3.29rem
  .benefit__slider, .slick-slider
    margin-top: -200px
  .benefit__slider .slick-prev
    background-size: 90% 
    left: 0
  .benefit__slider .slick-next
    background-size: 90% 
    right: 0
  .simply
    &__section-text
      max-width: 19rem
      line-height: 20px
      &::after
        margin-bottom: 1rem
    &__item
      margin-bottom: 0.5rem
      &-text
        margin-bottom: 0.5rem
        font-size: 0.9rem
    &__button
      margin-top: 1rem
      margin-bottom: 3rem
      width: 100%
      font-size: 0.7rem
      padding: 1.05rem 0.5rem
    &__video
      max-width: 28.5rem
      min-height: 17.2rem
      background-position: left -343px bottom -145px
  .format
    &__title
      padding-top: 3rem
      margin-bottom: 2.4rem
    &__item
      &-img
        display: none
      &-content
        font-size: 1.2rem !important
      &-text
        font-size: 0.8rem !important
        line-height: 1.1rem !important
        max-width: 14rem
    &__img
      &-item  
        background-image: url('../img/format-bg.png'), radial-gradient(circle 611px at center, #03256c 0%, #061826 100%)
        padding-left: 1.7rem
        max-width: 30.7rem
        min-width: 20rem
        justify-content: center
        text-align: center
        padding-left: 0
    &__col
      padding-top: 4rem
@media screen and ( max-width: 370px )
  .hero
    max-height: 26.8rem
    &__main-title
      padding-top: 0.5rem
      font-size: 25px
    &__section-title
      font-size: 0.99rem
    &__section-text
      font-size: 0.8rem
      line-height: 1rem
      margin-bottom: 2rem
  .content
    &__text
      font-size: 1rem
      line-height: 1.2rem
  .item
    &__question
      font-size: 1.7rem
    &__percent
      font-size: 100px
      letter-spacing: -8px
    &__content
      font-size: 1rem
  .item2
    &__text
      margin-bottom: 0
  .why-robot
    &__answer
      margin-bottom: 20px
  .section-title
    font-size: 19px
    line-height: 25px
    margin-bottom: 0.5rem
  .section-text
    font-size: 11px
    line-height: 17px
  .create
    padding-bottom: 50px
    &__button
      font-size: 0.8rem
    &__form-text
      font-size: 12px
      line-height: 1rem
  .start
    &__title
      font-size: 13px
  .slider
    &__title
      font-size: 11px
      margin-bottom: 1rem
    &__text
      font-size: 8px
      line-height: 0.7rem
    &__img
      margin-bottom: 1rem
    &__text
      margin-bottom: 3rem
  .benefit__slider, .slick-slider
    margin-top: -165px
  .simply
    &__section-title
      &::before
        height: 30px
    &__section-text
      &::after
        height: 30px
    &__button
      font-size: 0.63rem
      padding: 1.05rem 0.2rem
  .format
    &__title
      padding-top: 2rem
    &__img
      margin-bottom: 2.5rem
      &-item  
        min-width: 17rem