.description
  background-image: url('../img/description-bg.png'), radial-gradient(circle 1426px at center, #03256c 0%, #061826 100%)
  background-repeat: no-repeat
  background-position: bottom 0 left 0
  color: $light
  &__slider-content
    display: flex
    padding-bottom: 7.3rem 
    align-items: flex-end
  &__title
    padding-top: 8rem
    padding-bottom: 4.7rem
    font-size: 2.57rem  
    font-weight: 700
    line-height: 42px
  &__information
    width: 53%
  &__lesson-number
      margin-bottom: 73px
      color: #68799a
      font-size: 16px
  &__homework
    width: 50%
    &--list
      margin-bottom: 5rem
      border-bottom: 1px solid rgba(#26556c ,0.5)
      padding-bottom: 3rem 
    &--item
      color: $light
      font-size: 1.71rem
    &--item1
      font-size: 1.14rem
      font-weight: 300
      line-height: 24px
  &__task
    padding-bottom: 2.2rem
    font-size: 1.69rem
    font-weight: 700
  &__marker
    padding-left: 27px
    padding-top: 22px
    color: #68799a
    max-width: 32rem
    font-size: 1.12rem
    line-height: 24px
    &--up
      margin-bottom: 1px
      max-width: 26rem
      margin-left: 3px
  &__present
    display: flex
    align-items: flex-end
    margin-bottom: -16px
  &__buttons
    flex-direction: row
    justify-content: center
    padding-bottom: 8.57rem
  &__button
    padding: 1.05rem 3.7rem
    &--secondary
      margin-right: 30px
      color: $light
      border: 1px solid $light
ol
  padding-left: 19px
li
  padding-left: 7px
  padding-bottom: 1.2rem
  font-size: 1.14rem
  font-weight: 300
  max-width: 30.36rem 
  color: #68799a
  line-height: 28.8px
.description__slider.slick-slider 
  margin-top: 0
.description__slider .slick-arrow
  position: absolute
  z-index: 10
  font-size: 0
  width: 52px
  height: 16px
  bottom: -33px
.description__slider .slick-prev
  left: 0
  background: url('../img/arrow-prev-light.png') 0 0 no-repeat
.description__slider .slick-next
  right: 0
  background: url('../img/arrow-next-light.png') 0 0 no-repeat
.description__slider .slick-dots
  position: absolute
  display: flex
  align-items: baseline
  top: 122px
  right: 58px
.slick-dots, ul
  list-style-type: none
.slick-dots li
  padding-left: 0
  padding-bottom: 0
  font-size: 16px
  color: #68799a
li button
  background: none
  color: #68799a
  font-size: 16px
  cursor: pointer
  width: 35px
  height: 35px
.slick-active button
  background-color: $sea
  color: $light
  border-radius: 50%
.slick-disabled
  color:#68799a
.slick-prev.slick-disabled
  background: url('../img/arrow-disabled-prev.png') 0 0 no-repeat
.slick-next.slick-disabled
  background: url('../img/arrow-disabled-next.png') 0 0 no-repeat
