.free
  padding-top: 9rem
  padding-bottom: 9.14rem
  background: url(../img/adv-bg.png),radial-gradient(circle 677px at center, #03256c 0%, #061826 100%)
  background-size: cover
  background-repeat: no-repeat
  &__wrapper
    text-align: center
  &__section-title
    color: $light
    font-size: 24px
    font-weight: 700
    max-width: 29rem
    margin: auto
    margin-bottom: 1.5rem
  &__section-text
    color: $light
    font-size: 15.8px
    line-height: 24px
    max-width: 31rem
    margin: auto
    margin-bottom: 2.9rem
.shape
  display: flex
  flex-direction: column
  align-items: center
  &__button
    max-width: 27rem
    padding: 1.05rem 7.1rem
  &__input
    margin-bottom: 1.7rem
    padding: 16px 156px 16px 17px
    border-radius: 4px  
    &::placeholder
      color: $main
      font-size: 19px
      line-height: 22.94px
::-moz-placeholder, :-moz-placeholder 
  opacity: 1
input 
  outline: none