.process
  background: $sky
  &__title
    padding-top: 7.5rem
    margin-bottom: 8rem
  &__section-title
    max-width: 34rem
    &--bold
      font-weight: 700
  &__lessons
    padding-bottom: 8.5rem
    width: 90%
  &__lesson
    &-content
      font-size: 2.7rem
      margin-bottom: 3rem
    &-class
      margin-bottom: 1.5rem
      font-size: 1.68rem
    &-text
      font-size: 1.14rem
      max-width: 11.79rem