.reviews
  padding-bottom: 8rem
  background: url(../img/reviews-bg.png) no-repeat left bottom 
  &__section-title
    margin-bottom: 4.5rem
    text-align: center
    &::before
      content: ''
      display: block 
      height: 72px 
      width: 1px 
      background: $sky
      margin: auto
      margin-bottom: 39px
  &__video
    max-width: 67.5rem  
    position: relative
    display: flex
    margin: auto
    margin-bottom: 5.1rem
    min-height: 27.8rem
    background: $sky url('../img/reviews.png') center no-repeat
    margin-right: 1rem
    margin-left: 1rem
    &-title
      margin: auto
      padding-bottom: 8.2rem
  &__item
    margin-bottom: 1.5rem
    text-align: center
    &-content
      max-width: 100%
      text-align: center
      font-size: 1.7rem
      margin-bottom: 1.8rem
      padding-top: 72px
    &-text
      font-weight: 300
      max-width: 100%
      margin-bottom: 1.357rem  
      text-align: center
      margin: auto
      max-width: 37.7rem
      color: $title
      font-size: 16px
      line-height: 24px
  &__section
    &-subtitle
      margin-bottom: 1.7rem
      font-size: 35.3px
      max-width: 20rem
    &-text
      color: #061826
      font-size: 16px
      line-height: 24px
      max-width: 18rem
  &__content
    padding-top: 8.5rem
    display: flex
  &__subtitle
    width: 38.5%
.results
  width: 57%
  display: flex
  justify-content: space-between
  &__img
    margin-bottom: 2.5rem
  &__name
    color: $main
    font-size: 24px
    line-height: 28.8px
    font-weight: 300
    margin-bottom: 2rem
  &__text
    color: $title
    font-size: 16px
    font-weight: 300
    line-height: 24px
    max-width: 19.7rem
    &--down
      max-width: 16rem  
.video
  &__playOne
    position: relative
    margin: auto
    cursor: pointer
    &:hover
      background: $sky
      border-radius: 50%
  &__playTwo
    position: relative
    margin: auto
    cursor: pointer
    &:hover
      background: $sky
      border-radius: 50%
  &__playThree
    position: relative
    margin: auto
    cursor: pointer
    &:hover
      background: $sky
      border-radius: 50%
.slick-slide .reviews__video
  margin: auto
  background: transparent
  border: 1px solid #eaf1f7
.slick-active .reviews__video
  background: $light url('../img/reviews.png') center no-repeat
  border: none
.reviews__slider .slick-arrow
  position: absolute
  z-index: 10
  font-size: 0
  width: 52px
  height: 16px
  top: 87%
.reviews__slider .slick-prev
  left: 15px
  background: url('../img/arrow-prev.png') 0 0 no-repeat
.reviews__slider .slick-next
  right: 15px
  background: url('../img/arrow-next.png') 0 0 no-repeat